<header>
  <nav class="navbar">
    <a href="/"><div class="logo">o|o</div></a>
      
       <input type="checkbox" id="menu-toggle" hidden>
       <label for="menu-toggle" class="hamburger">☰</label>

    <ul class="nav-links">
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/login">Login</a></li>
    </ul>

  </nav>
</header>
